/* Ensure the body and html take the full height */
html, body {
 

  
    
    flex-direction: column;
}

/* The main wrapper should take up all available space */
#root, .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

/* Push the footer to the bottom */
.main-content {
    flex: 1; /* Expands to fill remaining space */
}

.footer {
    background-color: #a49e9e;
    color: #f0e9e9;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}
